body {
    background-color: #222222;
    color: #DDDDDD;
}

h1 {
    color: #2E86C1;  /* Muted color for the main title */
}

h2 {
    color: #2E86C1;
}

article {
    background-color: #303030;
}

button {
    background-color: #2E86C1;
    border: none;
}


aside {
    background-color: #333333;
}

li {
  margin: 10px 0;
}

.definition {
    background-color: #303050;
}

.nav-buttons {
    margin-top: auto; /* Pushes the button div to the bottom */
    display: flex;
    justify-content: space-between;
}

.long_formula {
  overflow: auto;
}

#back_top {
    align-self: flex-start; /* Aligns the back button to the left */
}

#next_top {
    align-self: flex-end; /* Aligns the next button to the right */
}

#back {
    align-self: flex-start; /* Aligns the back button to the left */
}

#next {
    align-self: flex-end; /* Aligns the next button to the right */
    margin-left: auto; /* Pushes the next button to the right */
}